
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sshler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/static/style.css">
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <header class="topbar">
      <a class="brand" href="/boxes">sshler</a>
      <span class="version-pill">{{ app_version }}</span>
      <div class="spacer"></div>
      <a class="link" href="/boxes">Boxes</a>
      <a class="link" href="/boxes/new">Add Box</a>
      <a class="link" href="https://github.com/" target="_blank">Docs</a>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
