
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sshler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism-tomorrow.css" />
    {% block head_extra %}{% endblock %}
    <script defer src="https://unpkg.com/prismjs/prism.js"></script>
    <script defer src="https://unpkg.com/prismjs/components/prism-python.min.js"></script>
    <script defer src="https://unpkg.com/prismjs/components/prism-javascript.min.js"></script>
    <script defer src="https://unpkg.com/prismjs/components/prism-json.min.js"></script>
    <script defer src="https://unpkg.com/prismjs/components/prism-yaml.min.js"></script>
  </head>
  <body>
    <header class="topbar">
      <a class="brand" href="/boxes">sshler</a>
      <span class="version-pill">{{ app_version }}</span>
      <div class="spacer"></div>
      <a class="link" href="/boxes">Boxes</a>
      <a class="link" href="/boxes/new">Add Box</a>
      <a class="link" href="/docs" target="_blank" rel="noopener">Docs</a>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
